<html>
  <head>
    <title>Buy item {{item.pk}}</title>
  </head>
  <body>
    <h1>{{item}}</h1>
    <p>{{item_description}}</p>
    <p>{{item_price}}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint 
        // Redirect to Stripe Session Checkout
        fetch("/config/")
        .then((result) => { return result.json(); })
        then((data) => {const stripe = Stripe(data.publicKey);});
      });
    </script>

  </body>
</html>
